In [1]:
import pandas as pd

In [2]:
filepath = "Resources/election_data.csv"
df = pd.read_csv(filepath)
df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [3]:
df.shape

(3521001, 3)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3521001 entries, 0 to 3521000
Data columns (total 3 columns):
Voter ID     int64
County       object
Candidate    object
dtypes: int64(1), object(2)
memory usage: 80.6+ MB

In [5]:
totalVotes = len(df)
print(totalVotes)

3521001

In [6]:
df.Candidate.unique()

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [7]:
df.Candidate.value_counts()

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [9]:
100 * (df.Candidate.value_counts() / totalVotes)

Khan        63.000011
Correy      19.999994
Li          13.999996
O'Tooley     2.999999
Name: Candidate, dtype: float64

In [19]:
votes = pd.DataFrame(df.Candidate.value_counts()).reset_index()
votes.columns = ["Candidate", "Votes"]
maxVotes = votes.Votes.max()

mask = votes.Votes == maxVotes
votes.loc[mask]

  Candidate    Votes
0      Khan  2218231