In [1]:
import pandas as pd

In [2]:
filepath = "Resources/budget_data.csv"
df = pd.read_csv(filepath)
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [3]:
df.shape

(86, 2)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 2 columns):
Date             86 non-null object
Profit/Losses    86 non-null int64
dtypes: int64(1), object(1)
memory usage: 1.5+ KB

In [5]:
len(df)

86

In [6]:
df["Profit/Losses"].sum()

38382578

In [8]:
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.diff.html
df["Changes"] = df["Profit/Losses"].diff()
df.head()

       Date  Profit/Losses   Changes
0  Jan-2010         867884       NaN
1  Feb-2010         984655  116771.0
2  Mar-2010         322013 -662642.0
3  Apr-2010         -69417 -391430.0
4  May-2010         310503  379920.0

In [9]:
df.Changes.mean()

-2315.1176470588234

In [10]:
df.Changes.max()

1926159.0

In [11]:
df.Changes.min()

-2196167.0

In [12]:
df.loc[df.Changes == df.Changes.max()]

        Date  Profit/Losses    Changes
25  Feb-2012        1170593  1926159.0

In [13]:
df.loc[df.Changes == df.Changes.min()]

        Date  Profit/Losses    Changes
44  Sep-2013       -1196225 -2196167.0